.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1130px;
}

@media (--xl-viewport) {
  .container {
    padding: 0 64px;
  }
}

@media (--md-viewport) {
  .container {
    padding: 0 40px;
  }
}

@media (--sm-viewport) {
  .container {
    padding: 0 24px;
  }
}

@media (--xs-viewport) {
  .container {
    padding: 0 12px;
  }
}
