.features {
  background-color: var(--color-light-grey);
  padding: 80px 0;
}

.features__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.features__item-column {
  display: flex;
  flex-direction: column;
}

.features__media {
  flex-shrink: 0;
  align-self: flex-start;
}

.features__image {
  max-height: 480px;
  max-width: 480px;
}

.features__title {
  font-size: 42px;
  letter-spacing: 0.2px;
  line-height: 50px;
  max-width: 650px;
  margin-bottom: 48px;
}

.features__list {
  max-width: 485px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features__item-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.features__item-heading {
  color: var(--color-disable);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 18px;
}

.features__item--pin::before {
  content: url('/public/images/pin.svg');
}

.features__item--smile::before {
  content: url('/public/images/smile.svg');
}

.features__item--letter::before {
  content: url('/public/images/letters.svg');
}

.features__item--lightning::before {
  content: url('/public/images/lightning.svg');
}

.features__chev {
  width: 18px;
  height: 10px;
  background: url('/public/images/expander_icon.svg');
}

.features__item--open .features__chev {
  transform: rotate(180deg);
}

.features__item--open .features__text {
  padding: 0 18px 24px 48px;
  font-size: 16px;
  line-height: 24px;
  max-height: 400px;
}

.features__item--open .features__item-heading {
  color: var(--color-black);
}

.features__text {
  max-height: 0;
  overflow: hidden;
}
