.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  font-family: var(--font-primary);
}

.nav__link {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.nav__link:hover {
  text-decoration: underline;
}

.header__hamburger {
  display: block;
}

@media (--sm-viewport) {
  .nav__list {
    display: none;
  }
}
