.slogans {
  padding-bottom: 120px;
}

.slogans__list {
  gap: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slogans__item {
  padding: 32px;
}

.slogans__item--fast {
  background-color: var(--color-yellow);
}

.slogans__item--money {
  background-color: var(--color-ligth-blue);
}

.slogans__item--safe {
  background-color: var(--color-light-pink);
}

.slogans__icon {
  width: 55px;
  height: 55px;
}

.slogans__title {
  font-size: 25px;
  letter-spacing: 0.2px;
  margin-top: 8px;
  margin-bottom: 11px;
}

.slogans__text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
