:root {
  --color-white: #fff;
  --color-black: #1f1f1f;
  --color-blue: #0070a0;
  --color-transparent: #0000;
  --color-yellow: #faea73;
  --color-ligth_blue: #cceff6;
  --color-light_pink: #f7cedc;
  --color-light_grey: #f7f9fa;
}
