:root {
  --color-white: #fff;
  --color-black: #1f1f1f;
  --color-blue: #0070a0;
  --color-transparent: #0000;
  --color-yellow: #faea73;
  --color-ligth-blue: #cceff6;
  --color-light-pink: #f7cedc;
  --color-light-grey: #f7f9fa;
  --color-line: #c2cdd8;
  --color-disable: #626a72;
}
